html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #F08080;
        #app {
            width: 100%;
            height: 100%;
        }
    }
}